/*
#222831 - Dark Gray
#393E46 - Light Gray
#00ADB5 - Teal
#EEEEEE - Off-white
*/
body {
    background-color: #00ADB5;
}

nav {
    text-align: center;
    background-color:#393E46;
    left: 0;
    top: 0;
    position: fixed;
    width: 100vw;
    border-bottom: 1px solid;
}

nav a {
    color: #EEEEEE;
    padding-right: 5%;
    padding-left: 5%;
    font-size:x-large;
}

.main-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
}