/*
#222831 - Dark Gray
#393E46 - Light Gray
#00ADB5 - Teal
#EEEEEE - Off-white
*/

html {
    font-family: sans-serif;
}

body {
    display: block;
    font-size: 1em;
    line-height: 1.25;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
    margin-top: 45px;
}

.container {
    position: relative;
    max-width: 1020px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 45px;
}

.columns:first-child {
    margin-left: 0;
}

.columns {
    float: left;
    box-sizing: border-box;
    margin-left: 4%;
    width: 48%;
    text-align: justify;
}

#facepic {
    width: 200px;
    border: 3px solid #000;
    float: left;
    transform: scaleX(-1);
    margin-bottom: 10px;
}

#facepic:hover {
    transform: scaleX(1);
}

.top-intro {
    text-align: right;
}

h1, h2, ul {
    color: #222831;
    margin: 0;
    margin-top: 10px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #00adb5;
    width: 100vw;
    z-index: 10;
    border-bottom: 1px solid;
}

p a {
    color: #186ef8;
    text-decoration: none;
}
.navbar a {
    color: #393e46;
    padding-right: 5%;
    padding-left: 5%;
    font-size: x-large;
}

.navbar a:hover {
    color: #eeeeee;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #00adb5;
    width: 100vw;
    border-top: 1px solid;
    z-index: 10;
}

.footer a {
    color: #393e46;
    font-size: small;
    text-decoration: none;
}

.footer a:hover {
    color: #eeeeee;
}

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

img {
    width: 100%;
}
#florida-flag {
    width: 325px;
    margin-left: 25%;
}

#florida-flag:hover {
    transition: transform 60s;
    transform: rotate(7200deg);
}
ul li {
    margin-top: 5px;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #eeeeee;
    content: '⌇';
    padding: 0 4px;
    position: relative;
    top: -13px;
}